@import "tailwindcss";

.font-permanent-marker {
  font-family: 'Permanent Marker', cursive !important;
}

.font-kode-mono {
  font-family: 'Kode Mono', monospace !important;
}

.font-junge {
  font-family: 'Junge', serif !important;
}

.pin-red-solid {
  background-color: #ff0000 !important;
  border: none !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

section {
  scroll-margin-top: 100px; 
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}